@font-face {
    font-display: swap;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/plus-jakarta-sans-v7-latin-regular.woff2') format('woff2');@font-face {
        font-display: swap;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 400;
        src: url('../fonts/plus-jakarta-sans-v7-latin-regular.woff2') format('woff2');
      }
  }

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans';
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.container{
    max-width: 1231px;
    padding: 0 15px;
    margin: 0 auto;
}

footer{
    padding-top: 40px;
    background-color: #101010;
    .footerEnd{
        display: flex;
        justify-content: space-between;
        .footerMenu{
            &__link{
                font-size: 18px;
              font-weight: 500;
              line-height: 27px;
              color: #A1A8B7;
              text-align: start;
              text-decoration: none;
              }
            &__list{
                padding-bottom: 15px;
                font-size: 20px;
                font-weight: 700;
                line-height: 25px;
                color: #fefefe;
                text-align: start;
                list-style: none;
                }
        }
        &__logoPart{
            padding: 30px 0;
            border-top: 1px solid #3B4155;
            display: flex;
            justify-content: space-between;
            &-text{
                color: #ffffff;
            }
        }
    }
}