@font-face {
    font-display: swap;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/plus-jakarta-sans-v7-latin-regular.woff2') format('woff2');@font-face {
        font-display: swap;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 400;
        src: url('../fonts/plus-jakarta-sans-v7-latin-regular.woff2') format('woff2');
      }
  }

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans';
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.container{
    max-width: 1231px;
    padding: 0 15px;
    margin: 0 auto;
}

.val{
    padding-top: 100px;
    .regTitle{
        max-width: 411px;
        color: #101010;
        line-height: 50px;
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        margin: 0 auto;
    }
    
    .regText{
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        text-align: center;
        max-width: 650px;
        margin: 21px auto;
    }
    
    .reg{
        background-color: #f2f4f6;
        max-width: 1008px;
        border-radius: 6px;
        padding: 30px;
        margin: 70px auto;
        .regVal{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 30px;
        &__el{
            border-bottom: 1px solid #636f87;
            padding: 8px 0;
            min-width: 384px;
            border-top: none;
            border-right: none;
            border-left: none;
            outline: none;
            background-color: transparent;
        }
        &__el::placeholder{
            font-family: 'Plus Jakarta Sans';
            font-weight: 700;
            font-size: 20px;
            line-height: 25px;
            color: #101010;
         }
         &__btn{
            max-width: 168px;
            border-radius: 6px;
            padding: 20px 40px;
            color: #ffffff;
            background-color: #1AAB7B;
            border: none;
            cursor: pointer;
            transition: 0.2s ease-in-out;
        }
        &__btn:hover{
            background-color: #04dd95c3;
        }
        &__text{
            color: #858ea1;
            font-size: 16px;
            font-weight: 400px;
            line-height: 24px;
            text-align: center;
        }
        }
    }
}