@font-face {
    font-display: swap;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/plus-jakarta-sans-v7-latin-regular.woff2') format('woff2');@font-face {
        font-display: swap;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 400;
        src: url('../fonts/plus-jakarta-sans-v7-latin-regular.woff2') format('woff2');
      }
  }

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans';
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.container{
    max-width: 1231px;
    padding: 0 15px;
    margin: 0 auto;
}

.bg-grey{
    background-color: #f2f4f6;
    .block{
        padding: 36px 0;
        &__title{
            text-align: center;
            font-size: 36px;
            font-weight: 600;
            line-height: 50px;
        }
    }
}